.admin-header {
  background: #4e73df;
  color: #fff;
  .navbar-brand {
    color: #fff;
  }
  .nav-link {
    color: #fff;
  }
  .header-search-btn {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    &:hover {
      color: #4e73df;
      background-color: #fff;
      border-color: #fff;
    }
  }
  .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
  }
}